table{
    border-collapse: collapse;
    justify-content: center;
    align-items: center;
    vertical-align: top;
}
tbody{
    vertical-align: top;
}
h1{
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding-top: 10px;
}
app-login{
    margin-top: 100px;
}